Repository seanwu1105/vscode-qt-for-python: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

refactor: implement register commands with rxjs
  src/commands.ts
  src/extension.ts
Due: eslint --cache --fix, prettier --write

test: add e2e test for code actions
  src/qmllint/code-actions.ts
  src/test/suite/qmllint/e2e.test.ts
  src/test/suite/test-utils.ts
Due: eslint --cache --fix, prettier --write

refactor: remove resolveScriptCommand()
  src/python.ts
  src/test/suite/python.test.ts
  src/test/suite/tool-utils.test.ts
  src/tool-utils.ts
Due: eslint --cache --fix, prettier --write

test: add e2e test for color pickers
  python/tests/assets/qss/QLabel.qss
  src/test/suite/qss/e2e.test.ts
Due: eslint --cache --fix, prettier --write

chore: fix Python version to 3.10.9
  .tool-versions
  python/.tool-versions
Due: none

feat: support hsl and hsla color widget
  python/tests/assets/qss/QLabel.qss
  snippets/qss.json
  src/qss/color-provider.ts
  src/test/suite/qss/color-provider.test.ts
  syntaxes/qss.tmLanguage.json
Due: eslint --cache --fix, prettier --write

refactor: use URI from vscode-uri instead of Uri from vscode
  src/commands.ts
  src/qmllint/code-actions.ts
  src/qmllint/converters.ts
  src/qmllint/diagnostic-with-suggestions.ts
  src/qmllint/lint-result.ts
  src/qmllint/lint.ts
  src/qmllint/register.ts
  src/test/mocks/extension.ts
  src/test/suite/qmllint/converters.test.ts
  src/test/suite/qmllint/e2e.test.ts
  src/test/suite/qmllint/lint.test.ts
  src/uic/uic-live-execution.ts
Due: eslint --cache --fix, prettier --write

feat: support HEX color widget
  python/tests/assets/qss/QLabel.qss
  src/extension.ts
  src/qss/color-provider.ts
  src/test/suite/qss/color-provider.test.ts
  syntaxes/qss.tmLanguage.json
Due: eslint --cache --fix, prettier --write

refactor: replace extensionPath with extensionUri
  src/commands.ts
  src/designer/create-ui.ts
  src/designer/edit-ui.ts
  src/extension.ts
  src/python.ts
  src/qmlls/client.ts
  src/rcc/compile-resource.ts
  src/test/suite/python.test.ts
  src/test/suite/tool-utils.test.ts
  src/tool-utils.ts
  src/uic/compile-ui.ts
  src/uic/uic-live-execution.ts
Due: eslint --cache --fix, prettier --write

feat: support qmlls with e2e tests for configuration changes
  .tool-versions
  package.json
  python/.tool-versions
  python/.vscode/settings.json
  src/python.ts
  src/qmlls/client.ts
  src/test/runTest.ts
  src/test/suite/qmlls/e2e.test.ts
Due: eslint --cache --fix, prettier --write

fix: ensure the observable does not complete before the language client disposed
  src/qmlls/client.ts
Due: eslint --cache --fix, prettier --write

test: add unit tests for qmllint/code-actions
  src/qmllint/code-actions.ts
  src/qmllint/lint-result.ts
  src/test/suite/qmllint/code-actions.test.ts
  src/test/suite/qmllint/converters.test.ts
  src/test/suite/qmllint/diagnostic-with-suggestions.test.ts
Due: eslint --cache --fix, prettier --write

refactor: remove getToolCommand()
  src/designer/create-ui.ts
  src/designer/edit-ui.ts
  src/qmlls/client.ts
  src/rcc/compile-resource.ts
  src/test/mocks/extension.ts
  src/tool-utils.ts
  src/uic/compile-ui.ts
Due: eslint --cache --fix, prettier --write

chore: remove deprecated pylint config
  .github/workflows/build.yml
  .husky/pre-commit
  python/.pylintrc
Due: prettier --write

chore: check subprocess.run
  python/.vscode/settings.json
  python/tests/test_designer.py
  python/tests/test_qmlls.py
  python/tests/test_rcc.py
  python/tests/test_uic.py
Due: prettier --write

refactor: use RxJS to implement python.ts
  src/extension.ts
  src/python.ts
  src/test/suite/python.test.ts
  src/tool-utils.ts
Due: eslint --cache --fix, prettier --write

refactor: avoid from converting URI to string
  src/configurations.ts
  src/designer/create-ui.ts
  src/designer/edit-ui.ts
  src/python.ts
  src/qmllint/register.ts
  src/rcc/compile-resource.ts
  src/test/suite/configurations.test.ts
  src/test/suite/python.test.ts
  src/test/suite/tool-utils.test.ts
  src/tool-utils.ts
  src/uic/compile-ui.ts
Due: eslint --cache --fix, prettier --write

refactor: register uic live execution with rxjs
  src/configurations.ts
  src/extension.ts
  src/python.ts
  src/test/suite/python.test.ts
  src/test/suite/test-utils.ts
  src/test/suite/tool-utils.test.ts
  src/test/suite/uic/uic-live-execution.test.ts
  src/uic/uic-live-execution.ts
  src/utils.ts
Due: eslint --cache --fix, prettier --write

test: increase python test timeout in CI env
  src/python.ts
  src/test/suite/configurations.test.ts
  src/test/suite/python.test.ts
  src/test/suite/test-utils.ts
  src/test/suite/tool-utils.test.ts
  src/tool-utils.ts
Due: eslint --cache --fix, prettier --write

refactor: use RxJS to implement tool-utils
  src/configurations.ts
  src/qmlls/client.ts
  src/test/mocks/extension.ts
  src/test/suite/configurations.test.ts
  src/test/suite/tool-utils.test.ts
  src/tool-utils.ts
  src/utils.ts
Due: eslint --cache --fix, prettier --write

chore: remove unnecessary activation events
  package.json
  src/qmlls/client.ts
Due: eslint --cache --fix, prettier --write

test: enable all tests
  src/qmlls/client.ts
  src/test/suite/index.ts
  src/test/suite/python.test.ts
  src/test/suite/rcc/compile-resource.test.ts
  src/test/suite/test-utils.ts
  src/test/suite/uic/compile-ui.test.ts
  src/test/suite/uic/uic-live-execution.test.ts
Due: eslint --cache --fix, prettier --write

refactor: wrap configuration API with Observable
  .eslintrc.json
  package-lock.json
  package.json
  src/configurations.ts
  src/extension.ts
  src/test/suite/configurations.test.ts
  src/test/suite/test-utils.ts
Due: eslint --cache --fix, prettier --write

fix: force release bot to dump version
  README.md
Due: prettier --write

docs!: force release bot bump
  CHANGELOG.md
Due: prettier --write

chore!: remove pre-release branch
  .github/workflows/pre-release.yml
Due: prettier --write

feat: check if the environment has qmlls before establish language client
  src/qmlls/client.ts
Due: eslint --cache --fix, prettier --write

feat: add live execution for QRC files
  package-lock.json
  package.json
  python/tests/assets/qrc/image.jpg
  python/tests/assets/qrc/rc0.txt
  python/tests/assets/qrc/rc1.txt
  python/tests/assets/qrc/sample.qrc
  src/extension.ts
  src/rcc/rcc-live-execution.ts
  src/uic/uic-live-execution.ts
  src/watcher.ts
Due: eslint --cache --fix, prettier --write

feat: add configuration to enable/disable RCC live execution
  package.json
  src/rcc/rcc-live-execution.ts
  src/test/suite/qss/e2e.test.ts
  src/test/suite/rcc/rcc-live-execution.test.ts
  src/test/suite/test-utils.ts
  src/test/suite/uic/uic-live-execution.test.ts
Due: eslint --cache --fix, prettier --write

feat: catch errors at the end of all observable pipes
  src/extension.ts
Due: eslint --cache --fix, prettier --write

test: test getWatcher$
  python/tests/assets/watcher-test/change.txt
  src/test/suite/test-utils.ts
  src/test/suite/watcher.test.ts
  src/watcher.ts
Due: eslint --cache --fix, prettier --write

test: use workspace.fs instead of node.fs
  src/designer/create-ui.ts
  src/rcc/rcc-live-execution.ts
  src/test/suite/rcc/compile-resource.test.ts
  src/test/suite/rcc/rcc-live-execution.test.ts
  src/test/suite/test-utils.ts
  src/test/suite/uic/compile-ui.test.ts
  src/test/suite/uic/uic-live-execution.test.ts
  src/test/suite/watcher.test.ts
Due: eslint --cache --fix, prettier --write

test: test stopPreviousClient behavior
  python/tests/assets/filename with spaces.txt
  src/qmlls/client.ts
  src/test/mocks/extension.ts
  src/test/suite/qmlls/client.test.ts
  src/test/suite/run.test.ts
Due: eslint --cache --fix, prettier --write

fix: highlight the ID selector in QSS without depending on ending spaces
  syntaxes/qss.tmLanguage.json
Due: prettier --write

docs: update highlight features
  README.md
Due: prettier --write

fix: await command result
  src/commands.ts
Due: eslint --cache --fix, prettier --write

feat: improve logging messages
  src/designer/create-ui.ts
  src/designer/edit-ui.ts
  src/extension.ts
  src/python.ts
  src/qmlls/client.ts
  src/rcc/compile-resource.ts
  src/run.ts
  src/test/suite/run.test.ts
  src/uic/compile-ui.ts
  src/uic/uic-live-execution.ts
Due: eslint --cache --fix, prettier --write

feat!: allow users to set glob pattern for live execution
  package.json
  src/configurations.ts
  src/rcc/rcc-live-execution.ts
  src/uic/uic-live-execution.ts
Due: eslint --cache --fix, prettier --write

feat: support pyside6-qml to preview QML files
  README.md
  package.json
  python/.coveragerc
  python/scripts/qml.py
  python/tests/test_qml.py
  src/commands.ts
  src/qml/preview-qml.ts
  src/test/suite/qml/preview-qml.test.ts
  src/types.ts
Due: eslint --cache --fix, prettier --write

ci: use software rendering when testing pyside6-qml
  .github/workflows/build.yml
  python/tests/test_qml.py
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.ts
  prettier --write: any of: *.{js,ts,scss,css,html,md,yml,json}
