Repository seanwu1105/vscode-qt-for-python: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

ci: fix Poetry version to avoid unstable bugs
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: prettier --write

fix: activate extension if containing qrc files
  package.json
Due: prettier --write

chore: apply black profile to isort config
  python/.isort.cfg
  python/.pylintrc
Due: none

test: add assets for linguist tests
  python/.pylintrc
  python/tests/assets/linguist/widget/.gitignore
  python/tests/assets/linguist/widget/main.py
  tsconfig.json
Due: prettier --write

test: remove language and country ID on generated ts files
  python/tests/assets/linguist/widget/main.py
Due: none

feat: add lupdate support
  package.json
  python/.coveragerc
  python/scripts/designer.py
  python/scripts/lupdate.py
  python/scripts/qml.py
  python/scripts/qmlls.py
  python/scripts/rcc.py
  python/scripts/uic.py
  python/tests/assets/linguist/.gitignore
  python/tests/assets/linguist/sample.py
  python/tests/test_lupdate.py
  src/commands.ts
  src/lupdate/lupdate.ts
  src/test/suite/linguist/e2e.test.ts
  src/test/suite/linguist/lupdate.test.ts
  src/types.ts
Due: eslint --cache --fix, prettier --write

fix: show lupdate command on UI files
  package.json
Due: prettier --write

test: test Python scripts against different Qt dependencies
  python/.pylintrc
  python/.vscode/settings.json
  python/scripts/designer.py
  python/scripts/lupdate.py
  python/scripts/qml.py
  python/scripts/qmlls.py
  python/scripts/rcc.py
  python/scripts/uic.py
  python/scripts/utils/__init__.py
  python/tests/__init__.py
  python/tests/test_designer.py
  python/tests/test_lupdate.py
  python/tests/test_qml.py
  python/tests/test_qmlls.py
  python/tests/test_rcc.py
  python/tests/test_uic.py
  python/tests/test_utils.py
Due: prettier --write

feat: add linguist support
  package.json
  python/.coveragerc
  python/scripts/linguist.py
  python/tests/__init__.py
  python/tests/test_linguist.py
  src/commands.ts
  src/linguist/edit-translations.ts
  src/lupdate/extract-translation.ts
  src/test/suite/linguist/e2e.test.ts
  src/test/suite/linguist/lupdate.test.ts
  src/types.ts
Due: eslint --cache --fix, prettier --write

feat: add lrelease support
  README.md
  package.json
  python/.coveragerc
  python/scripts/lrelease.py
  python/tests/__init__.py
  python/tests/test_lrelease.py
  python/tests/test_lupdate.py
  src/commands.ts
  src/lrelease/compile-translation.ts
  src/test/suite/linguist/compile-translations.test.ts
  src/test/suite/linguist/e2e.test.ts
  src/test/suite/linguist/extract-translations.test.ts
  src/test/suite/rcc/compile-resource.test.ts
  src/test/suite/uic/compile-ui.test.ts
  src/types.ts
Due: eslint --cache --fix, prettier --write

test: make Python tests work on M1
  python/tests/__init__.py
Due: none

fix: restart qmlls client if the configurations are changed
  src/qmlls/client.ts
  src/tool-utils.ts
Due: eslint --cache --fix, prettier --write

chore: dump nodejs to 18.14
  .tool-versions
Due: none

fix: disable qrc file watcher when rcc.liveExecution.enabled = false
  src/rcc/rcc-live-execution.ts
Due: eslint --cache --fix, prettier --write

refactor: switch rcc live execution declaratively with observable
  src/rcc/rcc-live-execution.ts
Due: eslint --cache --fix, prettier --write

refactor: switch uic live execution declaratively with observable
  src/rcc/rcc-live-execution.ts
  src/uic/uic-live-execution.ts
Due: eslint --cache --fix, prettier --write

fix: parse qrc files with multiple qresource elements
  python/tests/assets/qrc/rc2.txt
  python/tests/assets/qrc/sample.qrc
  src/rcc/rcc-live-execution.ts
Due: eslint --cache --fix, prettier --write

feat: support Python 3.7+
  .tool-versions
  python/.pylintrc
  python/.tool-versions
  python/poetry.lock
  python/pyproject.toml
  python/scripts/utils/__init__.py
  python/tests/__init__.py
Due: none

ci: run CI with Python 3.7
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: prettier --write

fix: change default rcc and uic output file names to *_rc and *_ui
  package.json
  python/.gitignore
  src/test/suite/rcc/compile-resource.test.ts
  src/test/suite/rcc/rcc-live-execution.test.ts
  src/test/suite/uic/compile-ui.test.ts
  src/test/suite/uic/uic-live-execution.test.ts
Due: eslint --cache --fix, prettier --write

fix: remove typing_extensions dependencies
  python/poetry.lock
  python/pyproject.toml
  python/scripts/utils/__init__.py
  python/tests/__init__.py
Due: none

Fix a typo
  python/scripts/uic.py
Due: none

fix: typo (#302)
  python/scripts/uic.py
Due: none

docs: add bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

build: update dependencies
  package-lock.json
  package.json
Due: prettier --write

docs: format bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

build: update PySide and PyQt dependencies
  python/poetry.lock
  python/pyproject.toml
Due: none

feat: add more hint when tool cannot be found
  python/scripts/designer.py
  python/scripts/linguist.py
  python/scripts/lrelease.py
  python/scripts/lupdate.py
  python/scripts/qml.py
  python/scripts/qmlls.py
  python/scripts/rcc.py
  python/scripts/uic.py
Due: none

chore: update @vscode/test-electron to pass test
  package-lock.json
  package.json
Due: prettier --write

chore: update pyside6 to 6.5.2 for fixed qmlformat
  python/poetry.lock
  python/pyproject.toml
Due: none

chore: drop Python 3.7 support
  .tool-versions
  python/.tool-versions
  python/poetry.lock
  python/pyproject.toml
Due: none

ci: update Python version to 3.8
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: prettier --write

chore: update Python extension settings
  .github/workflows/build.yml
  .vscode/extensions.json
  .vscode/settings.json
  python/.pylintrc
  python/.vscode/settings.json
  python/poetry.lock
  python/pyproject.toml
  python/scripts/utils/__init__.py
  python/tests/__init__.py
Due: prettier --write

chore: set Python version to 3.8.17 for CI compatibility
  .tool-versions
  python/poetry.lock
  python/pyproject.toml
Due: none

ci: set Python version to 3.8.17
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: prettier --write

chore: set Python to 3.8.10 for CI windows-latest compat
  .github/workflows/build.yml
  .github/workflows/release.yml
  python/poetry.lock
  python/pyproject.toml
Due: prettier --write

chore: ignore python/.vscode
  python/.gitignore
Due: none

ci: loosen Python version requirement
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: prettier --write

chore: update node dependencies to fix security issues
  package-lock.json
  package.json
Due: prettier --write

feat: add qmlformat script
  python/.coveragerc
  python/scripts/qmlformat.py
  python/tests/assets/qml/unformatted.qml
  python/tests/test_qmlformat.py
Due: none

Path conditions:
  eslint --cache --fix: any of: *.ts
  prettier --write: any of: *.{js,ts,scss,css,html,md,yml,json}
