Repository seanwu1105/vscode-qt-for-python: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --cache --fix",
  "*.{js,ts,scss,css,html,md,yml,json}": "prettier --write"
}

refactor: replace extensionPath with extensionUri
  src/commands.ts
  src/designer/create-ui.ts
  src/designer/edit-ui.ts
  src/extension.ts
  src/python.ts
  src/qmlls/client.ts
  src/rcc/compile-resource.ts
  src/test/suite/python.test.ts
  src/test/suite/tool-utils.test.ts
  src/tool-utils.ts
  src/uic/compile-ui.ts
  src/uic/uic-live-execution.ts
Due: eslint --cache --fix, prettier --write

feat: support qmlls with e2e tests for configuration changes
  .tool-versions
  package.json
  python/.tool-versions
  python/.vscode/settings.json
  src/python.ts
  src/qmlls/client.ts
  src/test/runTest.ts
  src/test/suite/qmlls/e2e.test.ts
Due: eslint --cache --fix, prettier --write

chore: fix Python version to 3.10.9
  .tool-versions
  python/.tool-versions
Due: none

chore: check subprocess.run
  python/.vscode/settings.json
  python/tests/test_designer.py
  python/tests/test_qmlls.py
  python/tests/test_rcc.py
  python/tests/test_uic.py
Due: prettier --write

refactor: wrap configuration API with Observable
  .eslintrc.json
  package-lock.json
  package.json
  src/configurations.ts
  src/extension.ts
  src/test/suite/configurations.test.ts
  src/test/suite/test-utils.ts
Due: eslint --cache --fix, prettier --write

refactor: use RxJS to implement tool-utils
  src/configurations.ts
  src/qmlls/client.ts
  src/test/mocks/extension.ts
  src/test/suite/configurations.test.ts
  src/test/suite/tool-utils.test.ts
  src/tool-utils.ts
  src/utils.ts
Due: eslint --cache --fix, prettier --write

refactor: use RxJS to implement python.ts
  src/extension.ts
  src/python.ts
  src/test/suite/python.test.ts
  src/tool-utils.ts
Due: eslint --cache --fix, prettier --write

test: increase python test timeout in CI env
  src/python.ts
  src/test/suite/configurations.test.ts
  src/test/suite/python.test.ts
  src/test/suite/test-utils.ts
  src/test/suite/tool-utils.test.ts
  src/tool-utils.ts
Due: eslint --cache --fix, prettier --write

refactor: remove resolveScriptCommand()
  src/python.ts
  src/test/suite/python.test.ts
  src/test/suite/tool-utils.test.ts
  src/tool-utils.ts
Due: eslint --cache --fix, prettier --write

refactor: remove getToolCommand()
  src/designer/create-ui.ts
  src/designer/edit-ui.ts
  src/qmlls/client.ts
  src/rcc/compile-resource.ts
  src/test/mocks/extension.ts
  src/tool-utils.ts
  src/uic/compile-ui.ts
Due: eslint --cache --fix, prettier --write

refactor: register uic live execution with rxjs
  src/configurations.ts
  src/extension.ts
  src/python.ts
  src/test/suite/python.test.ts
  src/test/suite/test-utils.ts
  src/test/suite/tool-utils.test.ts
  src/test/suite/uic/uic-live-execution.test.ts
  src/uic/uic-live-execution.ts
  src/utils.ts
Due: eslint --cache --fix, prettier --write

refactor: implement register commands with rxjs
  src/commands.ts
  src/extension.ts
Due: eslint --cache --fix, prettier --write

refactor: implement qmlls client with rxjs
  src/commands.ts
  src/extension.ts
  src/qmlls/client.ts
  src/test/suite/utils.test.ts
  src/uic/uic-live-execution.ts
  src/utils.ts
Due: eslint --cache --fix, prettier --write

chore: remove unnecessary activation events
  package.json
  src/qmlls/client.ts
Due: eslint --cache --fix, prettier --write

fix: ensure the observable does not complete before the language client disposed
  src/qmlls/client.ts
Due: eslint --cache --fix, prettier --write

test: enable all tests
  src/qmlls/client.ts
  src/test/suite/index.ts
  src/test/suite/python.test.ts
  src/test/suite/rcc/compile-resource.test.ts
  src/test/suite/test-utils.ts
  src/test/suite/uic/compile-ui.test.ts
  src/test/suite/uic/uic-live-execution.test.ts
Due: eslint --cache --fix, prettier --write

chore: remove deprecated pylint config
  .github/workflows/build.yml
  .husky/pre-commit
  python/.pylintrc
Due: prettier --write

feat: support HEX color widget
  python/tests/assets/qss/QLabel.qss
  src/extension.ts
  src/qss/color-provider.ts
  src/test/suite/qss/color-provider.test.ts
  syntaxes/qss.tmLanguage.json
Due: eslint --cache --fix, prettier --write

feat: support agb and agba color widget
  python/tests/assets/qss/QLabel.qss
  src/qss/color-provider.ts
  src/test/suite/qss/color-provider.test.ts
Due: eslint --cache --fix, prettier --write

feat: support hsv and hsva color widget
  python/tests/assets/qss/QLabel.qss
  src/qss/color-provider.ts
  src/test/suite/qss/color-provider.test.ts
Due: eslint --cache --fix, prettier --write

feat: support hsl and hsla color widget
  python/tests/assets/qss/QLabel.qss
  snippets/qss.json
  src/qss/color-provider.ts
  src/test/suite/qss/color-provider.test.ts
  syntaxes/qss.tmLanguage.json
Due: eslint --cache --fix, prettier --write

test: add e2e test for color pickers
  python/tests/assets/qss/QLabel.qss
  src/test/suite/qss/e2e.test.ts
Due: eslint --cache --fix, prettier --write

chore: add Python 3.10.6 to tool-versions
  .tool-versions
Due: none

feat!: drop qmllint 6.3.2 support
  src/configurations.ts
  src/qmllint/server/get-version.ts
  src/qmllint/server/lint.ts
  src/test/suite/qmllint/server/lint.test.ts
Due: eslint --cache --fix, prettier --write

ci: enable prerelease flag for next branch
  .github/workflows/pre-release.yml
Due: prettier --write

refactor: split configuration option string with space chars
  src/configurations.ts
  src/test/suite/configurations.test.ts
Due: eslint --cache --fix, prettier --write

test: add JSON schema for qmllint output
  python/poetry.lock
  python/pyproject.toml
  python/tests/__init__.py
  python/tests/assets/qml/schema.json
  python/tests/test_qmllint.py
Due: prettier --write

feat: use zod to validate qmllint result
  package-lock.json
  package.json
  python/tests/assets/qml/schema.json
  src/qmllint/converters.ts
  src/qmllint/lint.ts
  src/test/suite/qmllint/lint.test.ts
Due: eslint --cache --fix, prettier --write

build: avoid from installing PySide2 and PyQt5 on M1 macOS
  python/poetry.lock
  python/pyproject.toml
Due: none

build: update pytest-cov to get rid off the warnings
  python/poetry.lock
  python/pyproject.toml
Due: none

build: remove unused qmllint langauge server package config
  webpack.config.js
Due: prettier --write

feat: provide quick fix with suggestions field from qmllint
  src/qmllint/code-actions.ts
  src/qmllint/converters.ts
  src/qmllint/lint.ts
  src/qmllint/register.ts
  src/test/suite/qmllint/converters.test.ts
Due: eslint --cache --fix, prettier --write

test: trigger the qmllint again to wait for Python interpterter discovering
  python/scripts/designer.py
  python/scripts/qmllint.py
  python/scripts/rcc.py
  python/scripts/uic.py
  src/test/suite/qmllint/e2e.test.ts
  src/test/suite/test-utils.ts
Due: eslint --cache --fix, prettier --write

refactor: avoid from creating LSP to integrate qmllint
  .vscode/launch.json
  package-lock.json
  package.json
  src/configurations.ts
  src/extension.ts
  src/python.ts
  src/qmllint/client.ts
  src/qmllint/converters.ts
  src/qmllint/lint.ts
  src/qmllint/register.ts
  src/qmllint/server/converters.ts
  src/qmllint/server/main.ts
  src/qmllint/server/notifications.ts
  src/qmllint/server/requests.ts
  src/qmllint/server/server.ts
  src/test/suite/extension.test.ts
  src/test/suite/qmllint/converters.test.ts
  src/test/suite/qmllint/lint.test.ts
  src/test/suite/qmllint/server/converters.test.ts
  src/test/suite/qmllint/server/notifications.test.ts
  src/test/suite/qmllint/server/requests.test.ts
  src/tool-utils.ts
  src/uic/uic-live-execution.ts
Due: eslint --cache --fix, prettier --write

build: replace Webpack with esbuild
  .github/workflows/build.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .vscode/tasks.json
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write

feat!: drop qmllint support as it's superseded by qmlls
  package.json
  python/.coveragerc
  python/scripts/qmllint.py
  python/tests/assets/qml/schema.json
  python/tests/test_qmllint.py
  src/extension.ts
  src/qmllint/code-actions.ts
  src/qmllint/converters.ts
  src/qmllint/diagnostic-with-suggestions.ts
  src/qmllint/lint-result.ts
  src/qmllint/lint.ts
  src/qmllint/register.ts
  src/test/suite/configurations.test.ts
  src/test/suite/python.test.ts
  src/test/suite/qmllint/code-actions.test.ts
  src/test/suite/qmllint/converters.test.ts
  src/test/suite/qmllint/diagnostic-with-suggestions.test.ts
  src/test/suite/qmllint/e2e.test.ts
  src/test/suite/qmllint/lint.test.ts
  src/types.ts
Due: eslint --cache --fix, prettier --write

feat: support qmlls
  package-lock.json
  package.json
  python/.coveragerc
  python/scripts/qmlls.py
  python/tests/test_qmlls.py
  src/configurations.ts
  src/extension.ts
  src/predefined-variable-resolver.ts
  src/python.ts
  src/qmlls/client.ts
  src/run.ts
  src/test/suite/run.test.ts
  src/test/suite/utils.test.ts
  src/tool-utils.ts
  src/types.ts
  src/utils.ts
Due: eslint --cache --fix, prettier --write
