Repository seanwu1105/vscode-qt-for-python: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

docs(project): drop pyside6-project support
  README.md
  src/extension.ts
Due: eslint --cache --fix, prettier --write

feat(uic): add live execution support
  README.md
  package.json
  python/tests/assets/ui/sample.ui
  src/extension.ts
  src/qmllint/client.ts
  src/test/suite/uic/uic-live-execution.test.ts
  src/uic/uic-live-execution.ts
Due: eslint --cache --fix, prettier --write

chore: reorganize test assets
  python/tests/assets/qmldir/qmldir
Due: none

test: install Python extension before runTest
  src/test/runTest.ts
  src/test/suite/predefined-variable-resolver.test.ts
  src/test/suite/qmllint/e2e.test.ts
  src/test/suite/rcc/compile-resource.test.ts
  src/test/suite/test-utils.ts
  src/test/suite/uic/compile-ui.test.ts
  src/test/suite/uic/uic-live-execution.test.ts
Due: eslint --cache --fix, prettier --write

feat(qss): support QSS syntax highlighting
  README.md
  languages/qss.json
  package.json
  python/tests/assets/qss/QAbstractScrollArea.qss
  python/tests/assets/qss/QCheckBox.qss
  python/tests/assets/qss/QComboBox.qss
  python/tests/assets/qss/QDockWidget.qss
  snippets/qss.json
  syntaxes/qss.tmLanguage.json
Due: prettier --write

feat: support PyQt6, PySide2 and PyQt5
  README.md
  python/poetry.lock
  python/pyproject.toml
  python/scripts/designer.py
  python/scripts/rcc.py
  python/scripts/uic.py
  python/tests/test_uic.py
Due: prettier --write

docs: update README
  README.md
Due: prettier --write

test: incraese default sleep time for CI environment
  src/test/suite/test-utils.ts
Due: eslint --cache --fix, prettier --write

chore!: bump official release a major version
  CHANGELOG.md
Due: prettier --write

test: increase timeout for e2e tests
  src/test/suite/rcc/compile-resource.test.ts
  src/test/suite/test-utils.ts
  src/test/suite/uic/compile-ui.test.ts
  src/test/suite/uic/uic-live-execution.test.ts
Due: eslint --cache --fix, prettier --write

docs: add version requirement for qmllint
  README.md
Due: prettier --write

fix: bundle dependencies into release
  .vscode/launch.json
  .vscode/tasks.json
  .vscodeignore
  clean.js
  package-lock.json
  package.json
  precompile.js
  src/test/runTest.ts
  webpack.config.js
Due: eslint --cache --fix, prettier --write

chore: update Poetry to 1.2
  python/poetry.lock
  python/pyproject.toml
Due: none

chore: remove __metadata prop in package.json
  package.json
Due: prettier --write

chore: bump node version to 18.10.0
  .tool-versions
Due: none

test: use waitFor to improve test performance in CI environment
  src/test/suite/qmllint/e2e.test.ts
  src/test/suite/test-utils.ts
  src/test/suite/uic/uic-live-execution.test.ts
Due: eslint --cache --fix, prettier --write

ci: pin install-poetry to 1.3.2 to make it work on Windows
  .github/workflows/build.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Due: prettier --write

test: increase e2e wait time for CI environment
  src/test/suite/test-utils.ts
Due: eslint --cache --fix, prettier --write

test: use waitFor to improve test performance in CI environment (#252)
  .github/workflows/build.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .tool-versions
  src/test/suite/qmllint/e2e.test.ts
  src/test/suite/test-utils.ts
  src/test/suite/uic/uic-live-execution.test.ts
Due: eslint --cache --fix, prettier --write

build: bump PySide6 to 6.4.1
  python/poetry.lock
  python/pyproject.toml
Due: none

fix: support qmllint with PySide 6.4.1
  .eslintrc.json
  python/tests/test_qmllint.py
  src/qmllint/server/get-version.ts
  src/qmllint/server/lint.ts
  src/qmllint/server/server.ts
  src/test/suite/qmllint/server/lint.test.ts
Due: eslint --cache --fix, prettier --write

feat!: drop qmllint 6.3.2 support
  src/configurations.ts
  src/qmllint/server/get-version.ts
  src/qmllint/server/lint.ts
  src/test/suite/qmllint/server/lint.test.ts
Due: eslint --cache --fix, prettier --write

chore: add Python 3.10.6 to tool-versions
  .tool-versions
Due: none

refactor: split configuration option string with space chars
  src/configurations.ts
  src/test/suite/configurations.test.ts
Due: eslint --cache --fix, prettier --write

build: avoid from installing PySide2 and PyQt5 on M1 macOS
  python/poetry.lock
  python/pyproject.toml
Due: none

test: trigger the qmllint again to wait for Python interpterter discovering
  python/scripts/designer.py
  python/scripts/qmllint.py
  python/scripts/rcc.py
  python/scripts/uic.py
  src/test/suite/qmllint/e2e.test.ts
  src/test/suite/test-utils.ts
Due: eslint --cache --fix, prettier --write

ci: enable prerelease flag for next branch
  .github/workflows/pre-release.yml
Due: prettier --write

refactor: avoid from creating LSP to integrate qmllint
  .vscode/launch.json
  package-lock.json
  package.json
  src/configurations.ts
  src/extension.ts
  src/python.ts
  src/qmllint/client.ts
  src/qmllint/converters.ts
  src/qmllint/lint.ts
  src/qmllint/register.ts
  src/qmllint/server/converters.ts
  src/qmllint/server/main.ts
  src/qmllint/server/notifications.ts
  src/qmllint/server/requests.ts
  src/qmllint/server/server.ts
  src/test/suite/extension.test.ts
  src/test/suite/qmllint/converters.test.ts
  src/test/suite/qmllint/lint.test.ts
  src/test/suite/qmllint/server/converters.test.ts
  src/test/suite/qmllint/server/notifications.test.ts
  src/test/suite/qmllint/server/requests.test.ts
  src/tool-utils.ts
  src/uic/uic-live-execution.ts
Due: eslint --cache --fix, prettier --write

build: remove unused qmllint langauge server package config
  webpack.config.js
Due: prettier --write

build: update pytest-cov to get rid off the warnings
  python/poetry.lock
  python/pyproject.toml
Due: none

build: replace Webpack with esbuild
  .github/workflows/build.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .vscode/tasks.json
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write

test: add JSON schema for qmllint output
  python/poetry.lock
  python/pyproject.toml
  python/tests/__init__.py
  python/tests/assets/qml/schema.json
  python/tests/test_qmllint.py
Due: prettier --write

feat: use zod to validate qmllint result
  package-lock.json
  package.json
  python/tests/assets/qml/schema.json
  src/qmllint/converters.ts
  src/qmllint/lint.ts
  src/test/suite/qmllint/lint.test.ts
Due: eslint --cache --fix, prettier --write

feat: provide quick fix with suggestions field from qmllint
  src/qmllint/code-actions.ts
  src/qmllint/converters.ts
  src/qmllint/lint.ts
  src/qmllint/register.ts
  src/test/suite/qmllint/converters.test.ts
Due: eslint --cache --fix, prettier --write

test: add e2e test for code actions
  src/qmllint/code-actions.ts
  src/test/suite/qmllint/e2e.test.ts
  src/test/suite/test-utils.ts
Due: eslint --cache --fix, prettier --write

refactor: avoid from converting URI to string
  src/configurations.ts
  src/designer/create-ui.ts
  src/designer/edit-ui.ts
  src/python.ts
  src/qmllint/register.ts
  src/rcc/compile-resource.ts
  src/test/suite/configurations.test.ts
  src/test/suite/python.test.ts
  src/test/suite/tool-utils.test.ts
  src/tool-utils.ts
  src/uic/compile-ui.ts
Due: eslint --cache --fix, prettier --write

refactor: use URI from vscode-uri instead of Uri from vscode
  src/commands.ts
  src/qmllint/code-actions.ts
  src/qmllint/converters.ts
  src/qmllint/diagnostic-with-suggestions.ts
  src/qmllint/lint-result.ts
  src/qmllint/lint.ts
  src/qmllint/register.ts
  src/test/mocks/extension.ts
  src/test/suite/qmllint/converters.test.ts
  src/test/suite/qmllint/e2e.test.ts
  src/test/suite/qmllint/lint.test.ts
  src/uic/uic-live-execution.ts
Due: eslint --cache --fix, prettier --write

test: add unit tests for qmllint/code-actions
  src/qmllint/code-actions.ts
  src/qmllint/lint-result.ts
  src/test/suite/qmllint/code-actions.test.ts
  src/test/suite/qmllint/converters.test.ts
  src/test/suite/qmllint/diagnostic-with-suggestions.test.ts
Due: eslint --cache --fix, prettier --write

feat: support qmlls
  package-lock.json
  package.json
  python/.coveragerc
  python/scripts/qmlls.py
  python/tests/test_qmlls.py
  src/configurations.ts
  src/extension.ts
  src/predefined-variable-resolver.ts
  src/python.ts
  src/qmlls/client.ts
  src/run.ts
  src/test/suite/run.test.ts
  src/test/suite/utils.test.ts
  src/tool-utils.ts
  src/types.ts
  src/utils.ts
Due: eslint --cache --fix, prettier --write

feat!: drop qmllint support as it's superseded by qmlls
  package.json
  python/.coveragerc
  python/scripts/qmllint.py
  python/tests/assets/qml/schema.json
  python/tests/test_qmllint.py
  src/extension.ts
  src/qmllint/code-actions.ts
  src/qmllint/converters.ts
  src/qmllint/diagnostic-with-suggestions.ts
  src/qmllint/lint-result.ts
  src/qmllint/lint.ts
  src/qmllint/register.ts
  src/test/suite/configurations.test.ts
  src/test/suite/python.test.ts
  src/test/suite/qmllint/code-actions.test.ts
  src/test/suite/qmllint/converters.test.ts
  src/test/suite/qmllint/diagnostic-with-suggestions.test.ts
  src/test/suite/qmllint/e2e.test.ts
  src/test/suite/qmllint/lint.test.ts
  src/types.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.ts
  prettier --write: any of: *.{js,ts,scss,css,html,md,yml,json}
