Repository seanwu1105/vscode-qt-for-python: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

chore: name build workflow
  .github/workflows/build.yml
Due: prettier --write

chore: update .vscodeignore from .gitignore
  .vscodeignore
Due: none

chore: make tsc more strict
  tsconfig.json
Due: prettier --write

chore: run tsc in build workflow
  .github/workflows/build.yml
  src/extension.js
  src/extension.js.map
  src/test/runTest.js
  src/test/runTest.js.map
  src/test/suite/extension.test.js
  src/test/suite/extension.test.js.map
  src/test/suite/index.js
  src/test/suite/index.js.map
Due: prettier --write

chore: set outDir in tsconfig
  src/extension.js
  src/extension.js.map
  src/test/runTest.js
  src/test/runTest.js.map
  src/test/suite/extension.test.js
  src/test/suite/extension.test.js.map
  src/test/suite/index.js
  src/test/suite/index.js.map
  tsconfig.json
Due: prettier --write

chore: avoid running lint in pretest
  package.json
Due: prettier --write

chore: add license
  LICENSE
  package.json
Due: prettier --write

chore: add extension info
  assets/images/icon.png
  assets/images/logo.psd
  package.json
Due: prettier --write

chore: add README
  README.md
  vsc-extension-quickstart.md
Due: prettier --write

chore: setup Python environment
  python/.tool-versions
  python/poetry.lock
  python/poetry.toml
  python/pylintrc
  python/pyproject.toml
  python/tests/__init__.py
  python/tests/assets/qml/application.qml
Due: none

chore: ignore Python sub-project except scripts
  .vscodeignore
Due: none

ci: setup lint/test for Python scripts
  .github/workflows/build.yml
  python/.pylintrc
  python/pylintrc
  python/scripts/__init__.py
Due: prettier --write

chore: add pre-commit steps for Python scripts
  .husky/pre-commit
  .vscode/settings.json
  python/.pylintrc
  python/.vscode/settings.json
  python/tests/test_sample.py
Due: prettier --write

ci: setup lint/test for Python scripts (#238)
  .github/workflows/build.yml
  .husky/pre-commit
  .vscode/settings.json
  python/.pylintrc
  python/.vscode/settings.json
  python/pylintrc
  python/scripts/__init__.py
  python/tests/test_sample.py
Due: prettier --write

chore: setup coverage for Python scripts
  .github/workflows/build.yml
  .husky/pre-commit
  python/.coveragerc
  python/poetry.lock
  python/pyproject.toml
  python/scripts/sample.py
  python/tests/assets/qml/application.qml
  python/tests/test_sample.py
Due: prettier --write

feat(python): add qmllint scripts
  .github/workflows/build.yml
  .husky/pre-commit
  python/.coveragerc
  python/.tool-versions
  python/poetry.lock
  python/pyproject.toml
  python/pytest.ini
  python/scripts/__init__.py
  python/scripts/qmllint.py
  python/scripts/sample.py
  python/tests/__init__.py
  python/tests/assets/missing_import.qml
  python/tests/assets/multiline_string.qml
  python/tests/assets/pass.qml
  python/tests/assets/syntax_error.qml
  python/tests/test_qmllint.py
  python/tests/test_sample.py
  python/tests/test_scripts.py
Due: prettier --write

ci: bump Python version to 3.10
  .github/workflows/build.yml
Due: prettier --write

ci: use snok/install-poetry
  .github/workflows/build.yml
Due: prettier --write

fix(python): fix tests on Windows
  python/tests/test_qmllint.py
Due: none

style: add consistent-type-imports rule
  .eslintrc.json
Due: prettier --write

chore: remove webpack
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  package.json
  webpack.config.js
Due: prettier --write

feat: build command execution wrapper
  .vscode/launch.json
  README.md
  package-lock.json
  package.json
  src/extension.ts
  src/python.ts
  src/qmllint/client.ts
  src/qmllint/server.ts
  src/result-types.ts
  src/run.ts
  src/utils.ts
Due: eslint --cache --fix, prettier --write

fix: ensure resolveScriptCommand returns an array of str
  src/python.ts
Due: eslint --cache --fix, prettier --write

refactor: make run fully typed
  src/run.ts
Due: eslint --cache --fix, prettier --write

refactor: import node modules with prefix
  src/test/runTest.ts
  src/test/suite/index.ts
Due: eslint --cache --fix, prettier --write

feat: build qmllint ts wrapper
  README.md
  src/qmllint/converters.ts
  src/qmllint/lint.ts
Due: eslint --cache --fix, prettier --write

feat: show qmllint result
  src/extension.ts
  src/qmllint/client.ts
  src/qmllint/converters.ts
  src/qmllint/server.ts
Due: eslint --cache --fix, prettier --write

test(python): allow optional warning fields
  python/tests/assets/unknown_import.qml
  python/tests/test_qmllint.py
Due: none

fix(qmllint): allow optional warning fields
  src/extension.ts
  src/qmllint/converters.ts
  src/qmllint/lint.ts
  src/test/suite/extension.test.ts
Due: eslint --cache --fix, prettier --write

feat(qmllint): lint QML files on opened/saved
  src/qmllint/server.ts
Due: eslint --cache --fix, prettier --write

docs: adds more TODOs
  README.md
Due: prettier --write

feat(qmllint): support notification from server to client
  src/extension.ts
  src/qmllint/client.ts
  src/qmllint/server/main.ts
  src/qmllint/server/server.ts
Due: eslint --cache --fix, prettier --write

feat: show errors with notification window
  README.md
  src/extension.ts
  src/qmllint/server/server.ts
Due: eslint --cache --fix, prettier --write

feat: show error notifications generated from Python scripts
  README.md
  python/.coveragerc
  python/scripts/__init__.py
  python/scripts/qmllint.py
  python/scripts/utils/__init__.py
  python/tests/test_qmllint.py
  python/tests/test_scripts.py
  python/tests/test_utils.py
  src/extension.ts
  src/qmllint/server/server.ts
  src/run.ts
Due: eslint --cache --fix, prettier --write

feat(qmllint): support .qmllint.ini file
  README.md
  package.json
  python/tests/assets/.qmllint.ini
Due: prettier --write

feat(qmllint): catch uri-path conversion error
  README.md
  src/extension.ts
  src/qmllint/server/server.ts
Due: eslint --cache --fix, prettier --write

feat: support spaces in command arguments
  README.md
  src/python.ts
  src/qmllint/lint.ts
  src/qmllint/server/server.ts
  src/run.ts
Due: eslint --cache --fix, prettier --write

test: add tests for run and utils
  package.json
  src/run.ts
  src/test/assets/filename with spaces.txt
  src/test/suite/extension.test.ts
  src/test/suite/run.test.ts
  src/test/suite/utils.test.ts
Due: eslint --cache --fix, prettier --write

test: add tests for resolveScriptCommand
  README.md
  package-lock.json
  package.json
  src/python.ts
  src/run.ts
  src/test/mocks/extension.ts
  src/test/suite/python.test.ts
Due: eslint --cache --fix, prettier --write

test: add tests for qmllint/lint
  README.md
  src/qmllint/lint.ts
  src/test/suite/extension.test.ts
  src/test/suite/python.test.ts
  src/test/suite/qmllint/lint.test.ts
  src/test/suite/run.test.ts
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.ts
  prettier --write: any of: *.{js,ts,scss,css,html,md,yml,json}
