Repository seanwu1105/vscode-qt-for-python: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --cache --fix",
  "*.{js,ts,scss,css,html,md,yml,json}": "prettier --write"
}

test: add tests for qmllint/converters
  src/qmllint/client.ts
  src/qmllint/server/converters.ts
  src/qmllint/server/lint.ts
  src/qmllint/server/server.ts
  src/test/suite/qmllint/server/converters.test.ts
  src/test/suite/qmllint/server/lint.test.ts
Due: eslint --cache --fix, prettier --write

test: make run.test cross-platform
  package.json
  precompile.js
  src/test/suite/run.test.ts
Due: eslint --cache --fix, prettier --write

feat(qmllint): support multi-root workspace on resolving Python script
  README.md
  package-lock.json
  package.json
  src/extension.ts
  src/python.ts
  src/qmllint/client.ts
  src/qmllint/server/converters.ts
  src/qmllint/server/notifications.ts
  src/qmllint/server/requests.ts
  src/qmllint/server/server.ts
  src/test/suite/extension.test.ts
  src/test/suite/python.test.ts
  src/test/suite/qmllint/server/converters.test.ts
  src/test/suite/qmllint/server/lint.test.ts
  src/test/suite/qmllint/server/notifications.test.ts
  src/test/suite/qmllint/server/requests.test.ts
Due: eslint --cache --fix, prettier --write

feat(qmllint): add enable/disable config
  README.md
  package.json
  python/.vscode/settings.json
  src/constants.ts
  src/extension.ts
  src/qmllint/server/notifications.ts
  src/qmllint/server/requests.ts
  src/qmllint/server/server.ts
  src/test/suite/qmllint/server/requests.test.ts
Due: eslint --cache --fix, prettier --write

refactor(qmllint): compose qmllint command from client
  src/qmllint/client.ts
  src/qmllint/server/requests.ts
  src/qmllint/server/server.ts
  src/test/suite/qmllint/server/requests.test.ts
Due: eslint --cache --fix, prettier --write

feat(qmllint): add qmllint path and options configurations
  README.md
  package.json
  python/.vscode/settings.json
  src/qmllint/client.ts
  src/qmllint/server/requests.ts
  src/qmllint/server/server.ts
Due: eslint --cache --fix, prettier --write

feat: resolve predefined variables in tool path and options
  README.md
  src/configurations.ts
  src/constants.ts
  src/predefined-variable-resolver.ts
  src/python.ts
  src/qmllint/client.ts
  src/qmllint/server/requests.ts
  src/test/configurations.test.ts
  src/test/suite/predefined-variable-resolver.test.ts
  src/test/suite/python.test.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

docs: update TODO list
  README.md
Due: prettier --write

fix: normalize path in tests
  src/test/suite/predefined-variable-resolver.test.ts
Due: eslint --cache --fix, prettier --write

refactor: replace vscode.Uri with vscode-uri.URI
  src/python.ts
  src/test/suite/predefined-variable-resolver.test.ts
  src/test/suite/qmllint/server/converters.test.ts
Due: eslint --cache --fix, prettier --write

test: remove unnecessary path normalizer
  src/test/suite/predefined-variable-resolver.test.ts
Due: eslint --cache --fix, prettier --write

docs: remove deprecated TODO comments
  src/python.ts
  src/test/suite/qmllint/server/requests.test.ts
Due: eslint --cache --fix, prettier --write

fix(qmllint): ensure the server does not depend on vscode
  src/configurations.ts
  src/constants.ts
  src/python.ts
  src/qmllint/client.ts
  src/qmllint/server/converters.ts
  src/qmllint/server/lint.ts
  src/qmllint/server/notifications.ts
  src/qmllint/server/requests.ts
  src/run.ts
  src/test/suite/configurations.test.ts
  src/test/suite/qmllint/e2e.test.ts
  src/types.ts
  src/utils.ts
Due: eslint --cache --fix, prettier --write

test: restore sinon.replace after python.test
  src/qmllint/server/requests.ts
  src/test/suite/python.test.ts
  src/test/suite/qmllint/server/requests.test.ts
Due: eslint --cache --fix, prettier --write

test(qmllint): add e2e tests
  src/test/suite/qmllint/e2e.test.ts
Due: eslint --cache --fix, prettier --write

test(qmllint): add tests for requests
  src/qmllint/server/requests.ts
  src/qmllint/server/server.ts
  src/test/suite/qmllint/server/requests.test.ts
Due: eslint --cache --fix, prettier --write

test(qmllint): install deps for e2e tests
  .github/workflows/build.yml
  src/test/suite/qmllint/e2e.test.ts
Due: eslint --cache --fix, prettier --write

test(qmllint): increase default sleep time if in CI
  src/test/suite/qmllint/e2e.test.ts
Due: eslint --cache --fix, prettier --write

docs: add contribution guide
  .github/workflows/build.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
  package.json
Due: prettier --write

test(qmllint): increase default sleep time in e2e test
  src/test/suite/qmllint/e2e.test.ts
Due: eslint --cache --fix, prettier --write

feat(qml): add language features
  README.md
  languages/qml.json
  package.json
  snippets/qml.json
  syntaxes/qml.tmLanguage.json
Due: prettier --write

feat(qmldir): add language features
  README.md
  languages/qmldir.json
  package.json
  python/tests/assets/syntax_samples/qmldir
  snippets/qmldir.json
  syntaxes/qmldir.tmLanguage.json
Due: prettier --write

test: use waitFor for async tasks
  src/test/suite/qmllint/e2e.test.ts
  src/test/utils.ts
Due: eslint --cache --fix, prettier --write

revert: remove waitFor util
  src/test/suite/qmllint/e2e.test.ts
  src/test/utils.ts
Due: eslint --cache --fix, prettier --write

build: fix release process
  .github/workflows/build.yml
  .vscodeignore
Due: prettier --write

feat(qrc): assign qrc file to xml language
  README.md
  package.json
  python/tests/assets/syntax_samples/sample.qrc
Due: prettier --write

ci: make prettier ignore CHANGELOG.md
  .prettierignore
Due: none

test: increase default sleep time in CI to 1 min
  src/test/utils.ts
Due: eslint --cache --fix, prettier --write

refactor: categorize test assets
  README.md
  python/tests/assets/qml/.qmllint.ini
  python/tests/assets/qml/missing_import.qml
  python/tests/assets/qml/multiline_string.qml
  python/tests/assets/qml/pass.qml
  python/tests/assets/qml/syntax_error.qml
  python/tests/assets/qml/unknown_import.qml
  python/tests/assets/qrc/image.jpg
  python/tests/assets/qrc/sample.qrc
  python/tests/assets/syntax_samples/sample.qrc
  python/tests/test_qmllint.py
  src/test/suite/qmllint/e2e.test.ts
Due: eslint --cache --fix, prettier --write

feat(rcc): add rcc compile function
  python/.coveragerc
  python/scripts/rcc.py
  python/tests/test_rcc.py
  src/rcc/compile.ts
  src/types.ts
Due: eslint --cache --fix, prettier --write

feat(rcc): add rcc command
  package.json
  src/commands.ts
  src/configurations.ts
  src/constants.ts
  src/extension.ts
  src/qmllint/server/requests.ts
  src/rcc/compile.ts
  src/test/suite/commands.test.ts
  src/test/suite/utils.test.ts
  src/utils.ts
Due: eslint --cache --fix, prettier --write

ci: disable fail-fast on ts-test
  .github/workflows/build.yml
  src/test/suite/qmllint/e2e.test.ts
  src/test/utils.ts
Due: eslint --cache --fix, prettier --write

feat(rcc): add configurations for rcc path and options
  README.md
  package.json
  src/qmllint/client.ts
  src/qmllint/server/requests.ts
  src/rcc/compile.ts
  src/test/suite/qmllint/e2e.test.ts
  src/test/suite/rcc/e2e.test.ts
  src/test/suite/tool-utils.test.ts
  src/test/utils.ts
  src/tool-utils.ts
Due: eslint --cache --fix, prettier --write

test: open test workspace by default
  src/test/runTest.ts
  src/test/suite/qmllint/e2e.test.ts
Due: eslint --cache --fix, prettier --write

test(rcc): add e2e test for rcc
  python/tests/assets/qrc/.gitignore
  src/extension.ts
  src/qmllint/server/requests.ts
  src/qmllint/server/server.ts
  src/test/runTest.ts
  src/test/suite/qmllint/e2e.test.ts
  src/test/suite/rcc/e2e.test.ts
  src/test/suite/utils.ts
  src/test/utils.ts
  tsconfig.json
Due: eslint --cache --fix, prettier --write

test: add e2e tests for predefined-variable resolver
  python/tests/assets/predefined-variable-resolver-test.txt
  src/test/suite/predefined-variable-resolver.test.ts
  src/test/suite/utils.ts
Due: eslint --cache --fix, prettier --write

feat(uic): add uic support
  README.md
  package.json
  python/.coveragerc
  python/.gitignore
  python/scripts/uic.py
  python/tests/assets/qrc/.gitignore
  python/tests/assets/ui/sample.ui
  python/tests/test_uic.py
  src/commands.ts
  src/predefined-variable-resolver.ts
  src/test/suite/uic/e2e.test.ts
  src/types.ts
  src/uic/compile.ts
Due: eslint --cache --fix, prettier --write

feat: support resource-related predefined variables
  README.md
  package.json
  src/configurations.ts
  src/predefined-variable-resolver.ts
  src/test/suite/predefined-variable-resolver.test.ts
Due: eslint --cache --fix, prettier --write

docs: add description for predefined variables
  package.json
Due: prettier --write

feat(designer): support Qt designer features
  README.md
  package.json
  python/.coveragerc
  python/scripts/designer.py
  python/tests/test_designer.py
  src/commands.ts
  src/designer/create-ui.ts
  src/designer/edit-ui.ts
  src/extension.ts
  src/rcc/compile-resource.ts
  src/run.ts
  src/test/suite/designer/create-ui.test.ts
  src/test/suite/designer/edit-ui.test.ts
  src/test/suite/rcc/compile-resource.test.ts
  src/test/suite/run.test.ts
  src/test/suite/uic/compile-ui.test.ts
  src/types.ts
  src/uic/compile-ui.ts
Due: eslint --cache --fix, prettier --write
